<%= form_for(@edition) do |f| %>
  <% if @edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edition.errors.count, "error") %> prohibited this edition from being saved:</h2>

      <ul>
      <% @edition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>

    <div class="field">
      <%= f.label :winner_id %><br />
      <%= f.text_field :winner_id %>
    </div>

    <div class="field">
      <%= f.label :finalist_id %><br />
      <%= f.text_field :finalist_id %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
