
<div class="row ">
  <div class="span4">
    <img src = "<%= @grandslam.photo %>" alt = "Picture of a happy monkey" class = "img-polaroid grandslam_image" />
  </div>
  <div class="span6" style="margin-left: 50px">
    <div class="grandslam_info well">

      <h1><%= @grandslam.name %></h1>

      <p>
        <small>COUNTRY</small>
        <span class="text_big"><%= @grandslam.country %></span>
      </p>

      <p>
        <small>CITY</small>
        <span class="text_big"><%= @grandslam.city %>      </span>
      </p>

      <p>
        <small>COURTTYPE</small>
        <span class="text_big"><%= @grandslam.courttype %>  </span>
      </p>

    </div>

  </div>
</div>


<div class="row">
  <div class="grandslam_description well span11">

    <h2>Editions</h2>
    <table class="pointsTable">
      <thead>
          <tr>
            <td style="border: 1px solid black;">
               Year
            </td>
            <td class="table_player_name" style="border: 1px solid black;">
              Winner
            </td>
            <td class="table_player_name" style="border: 1px solid black;">
              Finalist
            </td>
          </tr>
      </thead>

    <% @grandslam.editions.each do |edition| %>

          <tr>
            <td class="table_player_position" style="border: 1px solid black;">
              <%= edition.year %>
            </td>
            <td class="table_player_name" style="width: 300px;border: 1px solid black;">
              <%= link_to get_player(edition.winner_id).name,get_player(edition.winner_id) %>
            </td>
            <td class="table_player_name"  style="width: 300px;border: 1px solid black;">
              <%= link_to get_player(edition.finalist_id).name,get_player(edition.finalist_id) %>
            </td>
          </tr>

    <% end %>
    </table>

  </div>
</div>


<%= link_to 'Edit', edit_grandslam_path(@grandslam) %> |
<%= link_to 'Back', grandslams_path %>





<h2>Add a edition:</h2>
<%= form_for([@grandslam, @grandslam.editions.build]) do |f| %>
    <div class="field">
      <%= f.label :year %><br />
      <%= f.text_field :year %>
    </div>
    <div class="field">
      <%= f.label :winner_id %><br />
      <%= f.text_field :winner_id %>
    </div>
    <div class="field">
      <%= f.label :finalist_id %><br />
      <%= f.text_field :finalist_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>