<h1>Listing players</h1>

<table class="table table_list_players">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Age</th>
    <th>Nationality</th>
    <th>Yearpro</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Points</th>

  </tr>

<% @players.each do |player| %>
  <tr>
    <td><img src = "<%= player.photo %>" alt = "Picture of a happy monkey" class = "player_image_thumb" /></td>
    <td><%= link_to player.name,player %></td>
    <td><%= player.age %></td>
    <td><%= player.nationality %></td>
    <td><%= player.yearpro %></td>
    <td><%= player.height %></td>
    <td><%= player.weight %></td>
    <td><%= player.points %></td>

</tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>

