<p id="notice"><%= notice %></p>

<h2>
  <%= @notice.title %>
</h2>

<article class="well" style="width: 700px;">
  <%= @notice.content %>
</article>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
